<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href=" ">
  <title>Backup --Powerful Maintenance Tools</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/static/css/custom.css" rel="stylesheet">

  <!-- Helper Styles -->
  <link href="/static/css/loaders.css" rel="stylesheet">
  <link href="/static/css/swiper.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/animate.min.css">
  <link rel="stylesheet" href="/static/css/nivo-lightbox.css">
  <link rel="stylesheet" href="/static/css/nivo_themes/default/default.css">
</head>

<body>
  <div class="loader loader-bg">
    <div class="loader-inner ball-clip-rotate-pulse">
      <div></div>
      <div></div>
    </div>
  </div>

  <!-- Top Navigation -->
  <nav class="navbar navbar-toggleable-md mb-4 top-bar navbar-static-top sps sps--abv">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarCollapse1" aria-controls="navbarCollapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Back<span>up</span></a>
      <div class="collapse navbar-collapse" id="navbarCollapse1">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"> <a class="nav-link" href="#myCarousel">Home <span
                class="sr-only">(current)</span></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#Introduction">Introduction</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#Configuration">Configuration</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#blog">Database</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#gallery">Corntab Expression</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#contact">Build</a> </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Swiper Silder
    ================================================== -->
  <!-- Slider main container -->
  <div class="swiper-container main-slider" id="myCarousel">
    <div class="swiper-wrapper">
      <div class="swiper-slide slider-bg-position" style="background:url('/static/img/1.jpg')" data-hash="slide1">
        <h2>More Powerful back up tools </h2>
      </div>
      <div class="swiper-slide slider-bg-position" style="background:url('/static/img/3.jpg')" data-hash="slide2">
        <h2>More Powerful back up tools </h2>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-prev"><i class="fa fa-chevron-left"></i></div>
    <div class="swiper-button-next"><i class="fa fa-chevron-right"></i></div>
  </div>

  <!-- Introduction
    ================================================== -->
  <section class="service-sec" id="Introduction">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading text-md-center text-xs-center">
            <h2><small>Introduction of this tool </small>To back up the Files,Folders,Database More convenience</h2>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6 text-sm-center service-block">
              <h3>Powerful Backup methods.</h3>
              <p>This tool provides more powerful backup functions, supports multiple packaging methods, and cloud
                backup functions.</p>
            </div>
            <div class="col-md-6 text-sm-center service-block">
              <h3>Front Configuration</h3>
              <p>More fridenly Configuration GUI and generate the Configuration policy automatically.</p>
            </div>
            <div class="col-md-6 text-sm-center service-block">
              <h3>Database</h3>
              <p>This tools could backup the database files ,such as MySQL,Redis,Postergre and so on ...</p>
            </div>
            <div class="col-md-6 text-sm-center service-block">
              <h3>Cycler backup</h3>
              <p>This tools could config the crontab Expression and build in the process.Backup up Cycler and background
              </p>
            </div>
            <a href="#Configuration" class="btn btn-primary btn-lg active col-md-12 " role="button">Start
              Configuration</a>

          </div>
        </div>
        <div class="col-md-4"> <img src="/static/img/crontab.jpg" class="img-fluid" /> </div>
      </div>
      <!-- /.row -->
    </div>
  </section>

  <!-- Configuration 
    ================================================== -->
  <section class="about-sec parallax-section" id="Configuration">
    <div class="container ">


      <div class="accordion" id="accordionExample">
        <div class="col-md-12">
          <div class="card-header" id="headingOne">
            <h3 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Local Backup
              </button>
            </h3>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">


            <div class="container col-md-12 " style="height: auto;">

              <div class="table-responsive">


                <table class="table">
                  <tr>
                    <td><label class="control-label leipiplugins-orgname">Compress</label></td>
                    <td>
                      <div class="controls">
                        <select name="localconfigitems" title="Compress" class="leipiplugins" leipiplugins="select"
                          itempart="local_backup">
                          <option>tgz</option>
                          <option>tar</option>
                        </select>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td> <label class="control-label leipiplugins-orgname">storge_path</label></td>
                    <td>
                      <div class="controls">
                        <input name="localconfigitems" type="text" placeholder="" title="storge_path"
                          value="/tmp/gobackup" itempart="local_backup" class="leipiplugins" leipiplugins="text">
                      </div>
                    </td>
                  </tr>


                  <tr>
                    <td><label class="control-label leipiplugins-orgname">backup_includes</label></td>
                    <td>
                      <div class="controls">
                        <div class="textarea">
                          <textarea title="backup_include" name="localconfigitems" class="leipiplugins"
                            itempart="local_backup" leipiplugins="textarea" orgname="backup_include"> </textarea>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td><label class="control-label leipiplugins-orgname">backup_excludes</label></td>
                    <td>
                      <div class="textarea">
                        <textarea title="backup_excludes" name="localconfigitems" class="leipiplugins"
                          itempart="local_backup" leipiplugins="textarea" orgname="backup_excludes"> </textarea>
                      </div>
              </div>
              </td>
              </tr>



              </table>
            </div>








          </div>



        </div>
      </div>
      <div class="col-md-12">
        <div class="card-header" id="headingTwo">
          <h3 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
              data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              SFTP Backup
            </button>
          </h3>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">


          <div class="container">

            <div class="table-responsive">


              <table class="table">
                <tr>
                  <td> <label class=" control-label leipiplugins-orgname">host_ip</label></td>
                  <td>
                    <div class="controls">
                      <input name="sftpconfigitems" type="text" placeholder="" title="host_ip" value=""
                        itempart="sftp_backup" class="leipiplugins" leipiplugins="text">
                    </div>
                  </td>

                </tr>


                <tr>
                  <td><label class="control-label leipiplugins-orgname">Username</label></td>
                  <td>
                    <div class="controls">
                      <input name="sftpconfigitems" type="text" placeholder="" title="Username" value=""
                        itempart="sftp_backup" class="leipiplugins" leipiplugins="text">
                    </div>
                  </td>
                </tr>


                <tr>
                  <td><label class="control-label leipiplugins-orgname">password</label></td>
                  <td>
                    <div class="controls">
                      <input name="sftpconfigitems" type="text" placeholder="" title="password" value=""
                        itempart="sftp_backup" class="leipiplugins" leipiplugins="text">
                    </div>
                  </td>
                </tr>


                <tr>
                  <td> <label class="control-label leipiplugins-orgname">Connect_timeout</label></td>
                  <td>
                    <div class="controls">
                      <input name="sftpconfigitems" type="text" placeholder="" title="Connect_timeout" value=""
                        itempart="sftp_backup" class="leipiplugins" leipiplugins="text">
                    </div>
                  </td>
                </tr>


                <tr>
                  <td><label class="control-label leipiplugins-orgname">Compress</label></td>
                  <td>
                    <div class="controls">
                      <select name="sftpconfigitems" title="Compress" class="leipiplugins" leipiplugins="select"
                        itempart="sftp_backup">
                        <option>tgz</option>
                        <option>tar</option>
                      </select>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td> <label class="control-label leipiplugins-orgname">storge_path</label></td>
                  <td>
                    <div class="controls">
                      <input name="sftpconfigitems" type="text" placeholder="" title="storge_path" value=""
                        itempart="sftp_backup" class="leipiplugins" leipiplugins="text">
                    </div>
                  </td>
                </tr>


                <tr>
                  <td><label class="control-label leipiplugins-orgname">backup_includes</label></td>
                  <td>
                    <div class="controls">
                      <div class="textarea">
                        <textarea title="backup_include" name="sftpconfigitems" class="leipiplugins"
                          itempart="sftp_backup" leipiplugins="textarea" orgname="backup_include"> </textarea>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td><label class="control-label leipiplugins-orgname">backup_excludes</label></td>
                  <td>
                    <div class="textarea">
                      <textarea title="backup_excludes" name="sftpconfigitems" class="leipiplugins"
                        itempart="sftp_backup" leipiplugins="textarea" orgname="backup_excludes"> </textarea>
                    </div>
            </div>
            </td>
            </tr>



            </table>
          </div>

        </div>


      </div>
    </div>
    <div class="col-md-12">
      <div class="card-header" id="headingThree">
        <h3 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Encrypt Backup
          </button>
        </h3>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">


          <div class="container">

            <div class="table-responsive">


              <table class="table">


                <tr>
                  <td> <label class="control-label leipiplugins-orgname">Encrypt</label></td>
                  <td>
                    <div class="controls">
                      <select name="Encryptconfigitems" title="Encrypt" class="leipiplugins" leipiplugins="select"
                        itempart="Encrypt_backup">
                        <option>Openssl</option>
                      </select>
                    </div>
                  </td>

                </tr>


                <tr>
                  <td> <label class="control-label leipiplugins-orgname">Encrypt_password</label></td>
                  <td>
                    <div class="controls">
                      <input name="Encryptconfigitems" type="text" placeholder="" title="Encrypt_password" value=" "
                        itempart="Encrypt_backup" class="leipiplugins" leipiplugins="text">
                    </div>
                  </td>

                </tr>


                <tr>
                  <td> <label class="control-label leipiplugins-orgname">Encrypt_salt</label></td>
                  <td>
                    <div class="controls">
                      <select name="Encryptconfigitems" title="Encrypt_salt" class="leipiplugins" leipiplugins="select"
                        itempart="Encrypt_backup">
                        <option>true</option>
                        <option>false</option>
                      </select>
                    </div>
                  </td>

                </tr>








































                <tr>
                  <td><label class="control-label leipiplugins-orgname">Compress</label></td>
                  <td>
                    <div class="controls">
                      <select name="Encryptconfigitems" title="Compress" class="leipiplugins" leipiplugins="select"
                        itempart="Encrypt_backup">
                        <option>tgz</option>
                        <option>tar</option>
                      </select>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td> <label class="control-label leipiplugins-orgname">storge_path</label></td>
                  <td>
                    <div class="controls">
                      <input name="Encryptconfigitems" type="text" placeholder="" title="storge_path" value=""
                        itempart="Encrypt_backup" class="leipiplugins" leipiplugins="text">
                    </div>
                  </td>
                </tr>


                <tr>
                  <td><label class="control-label leipiplugins-orgname">backup_includes</label></td>
                  <td>
                    <div class="controls">
                      <div class="textarea">
                        <textarea title="backup_include" name="Encryptconfigitems" class="leipiplugins"
                          itempart="Encrypt_backup" leipiplugins="textarea" orgname="backup_include"> </textarea>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td><label class="control-label leipiplugins-orgname">backup_excludes</label></td>
                  <td>
                    <div class="textarea">
                      <textarea title="backup_excludes" name="Encryptconfigitems" class="leipiplugins"
                        itempart="Encrypt_backup" leipiplugins="textarea" orgname="backup_excludes"> </textarea>
                    </div>
            </div>
            </td>
            </tr>



            </table>
          </div>
        </div>





      </div>
    </div>
    </div>
    </div>
    <div class="container-fluid">


      <a href="#gallery" class="btn btn-primary btn-lg active col-md-12 saveconfigitems" role="button" 
        id="saveconfigitems">SAVE</a>

    </div>
    </div>



  </section>
  <!-- BLOG
    ================================================== -->

  <section class="blog-sec" id="blog">
    <div class="container">
      <div class="container ">


        <div class="accordion" id="accordionExample">
          <div class="col-md-12">
            <div class="card-header" id="headingFour">
              <h3 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                  data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  Oracle
                </button>
              </h3>
            </div>

            <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">


              <div class="container" style="height: auto;">


              </div>



            </div>
          </div>
          <div class="col-md-12">
            <div class="card-header" id="headingFive">
              <h3 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  MySQL
                </button>
              </h3>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">


              <div class="container">


              </div>


            </div>
          </div>
          <div class="col-md-12">
            <div class="card-header" id="headingSix">
              <h3 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Redis
                </button>
              </h3>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
              <div class="card-body">


                <div class="container">


                </div>





              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">


          <a href="#gallery" class="btn btn-primary btn-lg active col-md-12 " role="button" ?nclick="location.reload()">SAVE</a>

        </div>
      </div>

    </div>
  </section>


  <section class="gallery-sec" id="gallery">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading text-md-center text-xs-center">
            <h2>Generate the Crontab Expression
              <small>Crontab is a file which contains the schedule<br /> of cron entries to be run and at specified
                times. <br />
              </small> </h2>
            <div class="container"> <img src="/static/img/29.jpg" class="img-fluid" /> </div>
            <h3>In order to adapt to a variety of operating systems and easier configuration, we used Go to rebuild
              crontab Expression, and made a friendly GUI to configure crontab expressions.</h3>
            <h2><a href="/static/cron.html">Click here</a>
              <h2>

          </div>
        </div>

      </div>
    </div>
  </section>








  <section class="contact-sec" id="contact">
    <div class="container">
      <h2>Show configuration items
        <small>And generate the build package</small> </h2>

    </div>


    <div class="container col-8">


      <button class="btn btn-primary btn-lg active col-md-12 center-block " type="button" data-toggle="collapse"
        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Click here to show your Backup plan
      </button>

      <div class="collapse" id="collapseExample">
        <div class="card card-body" style="height: auto;">
          <p>{{range $k, $v :=.buildplan}}
            {{$v}}<br>
            {{end}} </p>
        </div>
      </div>

    </div>
    <div class="container" style="height: 100px;"></div>


    <div class="container col-8">

      <button class="btn btn-primary btn-lg active col-md-12 center-block " type="button" data-toggle="collapse" id ="buildpackage"
        data-target="#buildpackagebtn" aria-expanded="false" aria-controls="collapseExample">
        Build
      </button>

      <div class="collapse" id="buildpackagebtn">
        <div class="card card-body" style="height: 300px;">
       <p>We will build one deployment package in the backend.You can open the application workspace to check it.</br></br>
        This package contains this files :</br>
        &nbsp&nbsp&nbsp--cron.ini  ---->about your cycler backup configuration</br>
        &nbsp&nbsp&nbsp--gobackup.yaml ---->about your backup plan </br>
        &nbsp&nbsp&nbsp--backup  ---> the compile application of backup </br></br></br>
        
        HOW TO USE </br>
        &nbsp&nbsp&nbsp  Upload the build package into the host ,and execute command :"chmod +x backup"</br>
        &nbsp&nbsp&nbsp  The execute the command "nohup ./bachup" </br>
        &nbsp&nbsp&nbsp  The log will be written in the nohup.out file .</br>
        
        </p>
        </div>
      </div>

    </div>



  </section>












  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-4">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Introduction</a></li>
            <li><a href="#">Configuration</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-4">
          <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Corntab Expression</a></li>
            <li><a href="#">Build</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-4">
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Term and Services</a></li>
            <li><a href="#">About Burnout</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-12">
          <h2>About our Blog</h2>
          <p>To enjoy good health, to bring true happiness to one's family, to bring peace to all, one must first
            discipline and control one's own mind. If a man can control his mind he can find the way to Enlightenment.
          </p>
        </div>
      </div>

    </div>
  </footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/static/js/logic.js"></script>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/scrollPosStyler.js"></script>
  <script src="/static/js/swiper.min.js"></script>
  <script src="/static/js/isotope.min.js"></script>
  <script src="/static/js/nivo-lightbox.min.js"></script>
  <script src="/static/js/wow.min.js"></script>
  <script src="/static/js/core.js"></script>


</body>

</html>